@using Newtonsoft.Json
@model IEnumerable<MyWebApp.Models.AnimeList>
@{
    ViewBag.Title = "Explore";
}
@*TODO: problem with chervron glyph scaling column*@

<h2>Explore</h2>
<div id="loader" data-request-url="@Url.Action("Details")"></div>
<div data-bind='simpleGrid: gridViewModel, simpleGridTemplate:"anime_list_template"'> </div>

<label>Number of items per page:<select data-bind="options: pageArray,value: currentPageSize"></select></label>

<button data-bind='click: jumpToFirstPage, enable: gridViewModel.currentPageIndex'>
    Jump to first page
</button>

<div>
    @Html.ActionLink("Back to Main", "Index", "Home")
</div>

@section head {
    <link href="~/Styles/ExploreStyle.css" rel="stylesheet" type="text/css" />
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/myKnockoutGrid.js"></script>

    <script>
        var initialData = @Html.Raw(JsonConvert.SerializeObject(Model, new JsonSerializerSettings {ReferenceLoopHandling = ReferenceLoopHandling.Ignore }));
        var PagedGridModel = function (items) {
            this.items = ko.observableArray(items);
            this.pageArray = [5, 10, 15, 20];
            this.currentPageSize = ko.observable(5);

            this.jumpToFirstPage = function () {
                this.gridViewModel.currentPageIndex(0);
            };

            var urlAction = $('#loader').data('request-url');

            this.gridViewModel = new ko.simpleGrid.viewModel({
                data: this.items,
                columns: [
                    { headerText: "Title", rowText: "Title", rowImage: false, rowId: "Id", rowAction: urlAction},
                    { headerText: "Image", rowText: false, rowImage: "ImageUrl", rowId: false},
                    { headerText: "Series Type", rowText: "SeriesType", rowImage: false, rowId: false},
                    { headerText: "Episodes", rowText: "Episodes", rowImage: false, rowId: false},
                    { headerText: "Score", rowText: "Score", rowImage: false, rowId: false}
                ],
                pageSize: this.currentPageSize
            });
        };
        ko.applyBindings(new PagedGridModel(initialData));
    </script>
}
