@model MyWebApp.Models.LibraryListing

<h2>@ViewBag.UserName</h2>

<div>
    <h4>LibraryListing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnimeList.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimeList.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MyScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MyScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Progress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Progress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LibraryStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LibraryStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
